<html>
    <body>
        <table border="1px">
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Livro de Node</td>
            </tr>
        </table>
    </body>
</html>