<html>

<body>
    <form action="/produtos" method="post">
        <div>
            <label for="titulo">Nome</label>
            <input type="text" id="titulo" name="titulo" placeholder="Título">
        </div>
        <div>
            <label for="preco">Preco</label>
            <input type="text" id="preco" name="preco" placeholder="150.25">
        </div>
        <div>
            <label for="descricao">Nome</label>
            <textarea cols="20" rows="10" name="descricao" id="descricao" placeholder="fale sobre o livro"></textarea>
        </div>
        <div>
            <input type="submit" value="gravar">
        </div>
    </form>
</body>

</html>